@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
:root {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(34, 32, 32, 0.87);
  background-color: #ffffff;
margin: 0;
padding: 0;
box-sizing: border-box;
 
}

a{
  text-decoration: none;
  color: black;
}
.splide__pagination {
    counter-reset: pagination-num;
  }
  
  .splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter( pagination-num );
  }

  .splide {
    width: 93vw; 
    height: 55vh;
  }

.splide__track {
    width: 100%; 
}

.splide__list {
    display: flex;
    width: 101%; 
}
.splide__slide img {
  width: 99%; 
  height: 55vh;
  border-radius: 12px; 
  border-style: none;
}
@media (max-width: 1600px){
  :root {
    font-family: 'Helvetica Neue', sans-serif;
  }
}
@media (max-width: 1300px){
  
  .splide {
    width: 93vw; 
    height: 40vh;
  }

.splide__track {
    width: 100%; 
}

.splide__list {
    display: flex;
    width: 101%; 
}
.splide__slide img {
  width: 99%; 
  height: 40vh;
  border-radius: 12px; 
  border-style: none;
}


}
@media (max-width: 550px){
  .splide {
    width: 95vw; 
    height: 30vh;
  }
  .splide__slide img {
    width: 99%; 
    height: 30vh;
    border-radius: 12px; 
    border-style: none;
  }

}