.principal{
    display: flex;
    flex-direction: row;
    gap: 20px; 
    padding: 0px 20px;
    align-items: flex-start;
  }
  #filtros {
    width: 250px;
    height: 89vh;
    padding: 15px;
    background-color: #a491d06f;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
  }
  #filtros >ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    
  }
  #filtros > ul > li{
    padding: 02%;
  }

.products-container{
    width: 100%;
    height: fit-content;
    margin: 20px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: 5;
    gap: 60px;
}
.product-card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    
}
.product-card:hover{
    transform: scale(1.2);
}
.product-card h3{
    color:#995be7;
}
.cardBtn >div>h4{
    color: #333333c0;
    font-size: 18px;
    font-weight: 500;
   
}
.product-card p{
    color: #333333;
    font-size: 12px;
    font-weight: 100;
}
.product-card{
    display: flex;
    flex-direction: column;
}
.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .cardBtn{
    height: 100%;
    background: none;
    border-style: none;
  }

  #filtros>ul>li{
    display: flex;
    flex-direction: column;
  
  }


/* filtro precio con pagina web*/


  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    max-width: 180px;
  }
  
 
  input[type="range"]:focus {
    outline: none;
  }
  
  
  
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #5c646a4a;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
 
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -4px; 
    background-color: rgb(72, 12, 128);
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 2px solid rgba(72, 12, 128, 0.894);
    outline-offset: 0.125rem;
  }
  /* fin filtro precio con pagina web*/

  #filterbutton{
  width: 90%;
  background-color:#1ee09f;
margin: 3% 5%;
  padding: 5% 15%;
  font-size: 16px;
  border-radius: 8px;
  border-style: none;
  
  }