*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



#categorias{
  margin: 80px 0 60px 0;
  display: flex;
  gap: 60px;
  justify-content: center;
}

.categoria {
  min-width: 130px;
  height: 60px;
  color: #fff;
  padding: 5px 80px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 6px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid  rgba(72, 12, 128, 0.76);; 
  color:  rgba(72, 12, 128, 0.76);; 
}
.categoria:hover {
  color: #fff;
}
.categoria:hover:after {
  width: 100%;
}
.categoria:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color:  rgba(72, 12, 128, 0.76);; 
} 


.categoria:hover {
  transform: scale(1.1); 
  background-color:  rgba(72, 12, 128, 0.76);; 
}

.ofertas-container {
  width: 80%;
  height: fit-content;
  margin: 20px 40px;
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  
  gap: 60px;
  
  
}
.oferta{
  width: 17vw;
}


.cardBtn>p{
  margin: 2% 10%;
}