
#general{
    display: flex;
    flex-direction: row;
    margin: 2%;
    align-items: center;
    justify-content: center;
    gap: 5%;
   
}
#imagen{
    height: 500px;
    width: auto;

}
#texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 650px;
    width: 40%;
}
#finalPrice{
    color: rgb(176, 0, 0);
    font-size: 1.4em;
    margin-top: 2%;
}
#comprar{
    background-color:  rgb(162, 0, 255);
    font-size: 16px;
    padding: 2%;
    border-radius: 8px;
    border-style: none;
}
#añadir{
    background-color: rgba(255, 149, 0, 0.928);
    font-size: 16px;
    padding: 2%;
    border-radius: 8px;
    border-style: none;
}
#caracteristicas{
    margin: 2% 0;
}
#caracteristicas>div{
display: flex;
flex-direction: row;

}
table {
  border-spacing: 0 10px;
  width: 100%;
  text-align: center;
  margin: 0% 0% 4% 0;
}

th, td {
  padding: 10px 40px;
  border: 1px solid #ddd;
  width: 50%;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}
#buttons> button{
    width: 35%;
}
@media (max-width: 1000px){
    #imagen{
        height: 400px;
        width: auto;
    
    }
    #buttons> button{
        width: auto;
    }
}
    @media (max-width: 900px){
        #imagen{
            height: 500px;
            width: auto;
            margin-bottom: 5%;
        }
        #general{
            display: flex;
            flex-direction: column;
            margin: 2%;
            gap: 10%;
           
        }#texto{
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            width: 70%;
        }
        #buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }th, td {
            padding: 10px 0;
          }
          #buttons> button{
            width: 35%;
        }}
        @media (max-width: 600px){
            #buttons> button{
                width: 45%;
        }
        #imagen{
            height: auto;
            width: 90%;
            margin-bottom: 5%;
        }
    }
    @media (max-width: 500px){
        
        #buttons> button{
            width: 40%;
            padding: 2% 10%;
    }
#texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 80%;
}
    }

    @media (max-width: 400px){
        #buttons> button{
            width: 50%;
            padding: 4% 10%;
        }
    }