footer{
  display: flex;
  flex-direction: column;
  width: 100%;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
  padding-top: 5vh;
background-color: rgba(72, 12, 128, 0.76);
}
#mainfooter{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-bottom:  5vh;
}

#mainfooter> div >ul{
  list-style: none;
}
#mainfooter> div >ul >li{
  list-style: none;
  margin: 15px 0;
}

#redes >ul>li>img{
  height: 20px;
}

#redes >ul>li{
  display: flex;
  margin: 8%;
  align-items: center;
  gap: 5px;
}

#pagos{
  margin-top: 2%;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 120px;
}
#pagos > img{
  height: 45px;
}

@media (max-width: 1200px){
  #mainfooter{
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
    justify-content: center;
    gap: 15%;
    
  }
}
  @media (max-width: 500px){
    #mainfooter{
      flex-wrap: wrap;
      width: 95%;
      align-items: center;
      justify-content: center;
      gap: 15%;
      margin-bottom:  2vh;
  }
  #pagos{
    width: 90%;
  }
  #redes>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
    
    align-items: center;
    justify-content: center;
  }
  #redes >ul>li{
    display: flex;
    margin: 10px ;
    align-items: center;
    justify-content: center;
    padding: 0;
    
  }
  #mainfooter> div >ul >li{
    display: flex;
    list-style: none;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 370px){
  #pagos{
    margin-top: 5%;}
}